:root {
    --dl-color-primary-0: rgba(255, 255, 255, 1);
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-color-secondary-500: rgba(26, 32, 44, 1);
    --dl-color-theme-accent1: #FFFFFF;
    --dl-color-theme-accent2: #F5D1B0;
    --dl-radius-radius-round: 50%;
    --dl-color-theme-primary1: #BF4408;
    --dl-color-theme-primary2: #E65103;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-color-text-txtprimary: rgba(0, 0, 0, 1);
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-color-theme-secondary1: #FFFFFF;
    --dl-color-theme-secondary2: #FBF1EB;
    --dl-space-space-threeunits: 48px;
    --dl-color-divider-secondary: rgba(205, 214, 217, 0.25);
    --dl-color-theme-neutral-dark: #191818;
    --dl-radius-radius-cardradius: 8px;
    --dl-color-theme-neutral-light: #FBFAF9;
    --dl-radius-radius-imageradius: 8px;
    --dl-radius-radius-inputradius: 24px;
    --dl-radius-radius-buttonradius: 24px;
    --dl-space-space-oneandhalfunits: 24px;
  }



  .home-group1171275022 {
    top: 2367.033203125px;
    left: 153px;
    width: 1212.8828125px;
    height: 970.3023071289062px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-text140 {
    top: 192.96670532226562px;
    left: 318px;
    color: rgba(0, 0, 0, 1);
    width: 499px;
    height: auto;
    position: absolute;
    font-size: 34px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-header1 {
    gap: 16px;
    top: 296.9667053222656px;
    left: 0px;
    width: 1059px;
    height: 55px;
    display: flex;
    padding: 16px 0;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text142 {
    color: var(--dl-color-text-txtprimary);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-xmark1 {
    gap: 10px;
    top: 317.9667053222656px;
    left: 1101px;
    width: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-i-gamingxmark1 {
    width: 24px;
    height: 24px;
  }
  .home-frame1171274972 {
    top: 362.9667053222656px;
    left: 0px;
    width: 800px;
    height: 25px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text144 {
    color: rgba(0, 0, 0, 1);
    width: 800px;
    height: auto;
    opacity: 0.50;
    position: absolute;
    font-size: 14px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 176.49999856948853%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame-divider1 {
    top: 411.9667053222656px;
    left: 0px;
    width: 1140px;
    height: 3px;
    display: flex;
    padding: 0 0 1.5px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
  }
  .home-divider10 {
    gap: 10px;
    display: flex;
    padding: 1.5px 0;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-divider-secondary);
  }
  .home-divider11 {
    width: auto;
    height: 0px;
    align-self: stretch;
  }
  .home-header2 {
    gap: 16px;
    top: 440.9667053222656px;
    left: 0px;
    display: flex;
    position: absolute;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-title1 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-text146 {
    color: var(--dl-color-text-txtprimary);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame-divider2 {
    top: 480.9667053222656px;
    left: 0px;
    width: 1062px;
    height: 3px;
    display: flex;
    padding: 0 0 1.5px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
  }
  .home-header3 {
    gap: 16px;
    top: 510.9667053222656px;
    left: 0px;
    display: flex;
    position: absolute;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-title2 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-text148 {
    color: var(--dl-color-text-txtprimary);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame-divider3 {
    top: 550.9666748046875px;
    left: 0px;
    height: 3px;
    display: flex;
    padding: 1.5px 0 0;
    position: absolute;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .home-divider12 {
    gap: 10px;
    display: flex;
    padding: 1.5px 0;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-divider-secondary);
  }
  .home-divider13 {
    width: auto;
    height: 0px;
    align-self: stretch;
  }
  .home-frame-divider4 {
    top: 481.9667053222656px;
    left: 0px;
    height: 3px;
    display: flex;
    padding: 1.5px 0 0;
    position: absolute;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .home-divider14 {
    gap: 10px;
    display: flex;
    padding: 1.5px 0;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-divider-secondary);
  }
  .home-divider15 {
    width: auto;
    height: 0px;
    align-self: stretch;
  }
  .home-header4 {
    gap: 16px;
    top: 578.9666748046875px;
    left: 0px;
    height: 18px;
    display: flex;
    position: absolute;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-title3 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-text150 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-header5 {
    gap: 16px;
    top: 651.9666748046875px;
    left: 0px;
    display: flex;
    position: absolute;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-title4 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-text152 {
    color: var(--dl-color-text-txtprimary);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-header6 {
    gap: 16px;
    top: 720.9666748046875px;
    left: 0px;
    display: flex;
    position: absolute;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-title5 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
  }
  .home-text154 {
    color: var(--dl-color-text-txtprimary);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 120.00000476837158%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame-divider5 {
    top: 620.9666748046875px;
    left: 0px;
    height: 3px;
    display: flex;
    padding: 1.5px 0 0;
    position: absolute;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .home-divider16 {
    gap: 10px;
    display: flex;
    padding: 1.5px 0;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-divider-secondary);
  }
  .home-divider17 {
    width: auto;
    height: 0px;
    align-self: stretch;
  }
  .home-frame-divider6 {
    top: 690.9666748046875px;
    left: 0px;
    height: 3px;
    display: flex;
    padding: 1.5px 0 0;
    position: absolute;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .home-divider18 {
    gap: 10px;
    display: flex;
    padding: 1.5px 0;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-divider-secondary);
  }
  .home-divider19 {
    width: auto;
    height: 0px;
    align-self: stretch;
  }
  .home-xmark2 {
    gap: 10px;
    top: 437.9667053222656px;
    left: 1101px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .home-i-mathplus1 {
    width: 24px;
    height: 24px;
  }
  .home-xmark3 {
    gap: 10px;
    top: 507.9667053222656px;
    left: 1101px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .home-i-mathplus2 {
    width: 24px;
    height: 24px;
  }
  .home-xmark4 {
    gap: 10px;
    top: 580.9666748046875px;
    left: 1101px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .home-i-mathplus3 {
    width: 24px;
    height: 24px;
  }
  .home-xmark5 {
    gap: 10px;
    top: 648.9666748046875px;
    left: 1101px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .home-i-mathplus4 {
    width: 24px;
    height: 24px;
  }
  .home-xmark6 {
    gap: 10px;
    top: 718.9666748046875px;
    left: 1101px;
    height: 23px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-i-mathplus5 {
    width: 24px;
    height: 24px;
  }
  .home-group1171274837 {
    top: 0px;
    left: 1077px;
    width: 135.8828125px;
    height: 970.3023071289062px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-text156 {
    top: 926.0134887695312px;
    color: rgba(255, 255, 255, 1);
    width: 103px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-facebook {
    top: 0px;
    left: 0px;
    width: 6.32903528213501px;
    height: 9.446837425231934px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-vector173 {
    top: 0px;
    left: 0px;
    width: 6px;
    height: 9px;
    position: absolute;
  }
  .home-twitter {
    top: 0.531529426574707px;
    left: 26.328125px;
    width: 12.277777671813965px;
    height: 8.384289741516113px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-vector174 {
    top: 0px;
    left: 0px;
    width: 12px;
    height: 8px;
    position: absolute;
  }
  .home-linkedin {
    top: 0.42264842987060547px;
    left: 58.60546875px;
    width: 12.279067039489746px;
    height: 8.600983619689941px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-vector175 {
    top: 2.4965667724609375px;
    left: 4.33984375px;
    width: 8px;
    height: 6px;
    position: absolute;
  }
  .home-vector176 {
    top: 2.7967309951782227px;
    left: 0.48828125px;
    width: 2px;
    height: 6px;
    position: absolute;
  }
  .home-vector177 {
    top: 0px;
    left: 0px;
    width: 3px;
    height: 2px;
    position: absolute;
  }
  .home-vector178 {
    top: 957.5077514648438px;
    left: 90.8828125px;
    width: 12px;
    height: 13px;
    position: absolute;
  }
  .home-vector179 {
    top: 959.4761352539062px;
    left: 122.8828125px;
    width: 13px;
    height: 9px;
    position: absolute;
  }