/* Ensure global styles apply */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --orange-colour: #e21e26;
  --green-colour: #009046;
}

.locations {
  background-color: #000000;
  color: #fff;
}

.footer {
  background-color: #000000;
  color: #fff;
  width: 100%;
}

.faq-item {
  margin: 10px 0;
}

.faq-question {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.faq-answer {
  padding: 10px;
  border: 1px solid #007bff;
  margin-top: 5px;
  margin-left: 30px;
}

.rentLease-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rentLease-card {
  border: 1px solid #000000;
  width: 348px;
  height: 178px;
}

.rentLease-text {
  font-size: 14px;
}

h2 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.navbar li {
  float: left; /* Make the list items inline */
}

.navbar li.logo {
  float: left; /* Make the list items inline */
  padding-right: 20%;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111; /* Background color on hover */
  color: white;
}

/* Navbar Socials */
.navi-social {
  padding-left: 80%;
}
.navi-social li {
  float: left; /* Make the list items inline */
}

.navi-social li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

.flex-container {
  display: flex;
  /* align-items: center; */
  /* background-color: DodgerBlue; */
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  /* padding: 20px; */
  font-size: 30px;
  width: 754px;
  height: 290px;
  gap: 0px;
}

.flex-container > div > h3 {
  font-family: Poppins;
  font-size: 28.21px;
  font-weight: 500;
  line-height: 42.31px;
  text-align: left;
}

.flex-container > div > p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: left;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
  
}

.car-container {
  display: flex;
  max-width: 754px;
  max-height: 290px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}

.car-deets {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #d9d9d9;

  max-width: 394px;
}

.car-deets p.carp {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: left;
  padding: auto;
  width: 298px;
  height: 37px;
  top: 964px;
  left: 466px;
  gap: 0px;
  opacity: 0.8px;
  margin-top: 3px;
  padding-left: 42px;
}

.car-deets h3 {
  max-height: 42px;
  top: 919px;
  left: 464px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  align-items: center;
  padding-left: 40px;
  margin-top: 25px;
  margin-bottom: 3px;
}

.car-feat {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 72px;
  gap: 0px;
  display: flex;
  flex-direction: row; /* Align items in a row */
  align-items: center;
  max-width: 300px;
  max-height: 17px;
  top: 1073px;
  left: 465px;
  gap: 0px;
  opacity: 0px;
}

.car-feat ul {
  margin-left: 0px;
  padding-left: 0px;
}

.car-feat-ico {
  display: flex;
  flex-direction: row;
}

.ico1 {
  padding-left: 40px;
}

.ico2 {
  padding-left: 24px;
}

.ico3,
.ico4 {
  padding-left: 16px;
}

.car-feat-ico p {
  max-width: 57px;
  max-height: 17px;
  gap: 0px;
  opacity: 0.9px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  letter-spacing: -0.02em;
  text-align: left;
}

.car-feat-ico div {
  display: flex;
  flex-direction: row;
}

.car-feat-ico img {
  padding-right: 8px;
}

.car-bk {
  display: flex;
  flex: 1;
  padding-left: 40px;

  justify-items: auto;
}

.car-bk h4 {
  width: Hug (152px) px;
  height: Fixed (30px) px;
  top: 1125px;
  left: 464px;
  gap: 4px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #1a202c;
  padding-right: 65px;
}

.car-book {
  width: 98px;
  height: 37px;
  /* top: 1121px;
  left: 680px; */
  padding: 0px 20px 0px 20px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #e21e26;
  color: #fff;
  /* On click;
  Navigate to: "None"; 
  animate: Instant;*/
  animation-duration: 0ms;
  /* width: 68px;
height: 21px;
gap: 0px;
opacity: 0px; */
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
}

.car-book p {
  width: 68px;
  height: 21px;
  gap: 0px;
  opacity: 0px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.footer {
  width: 100%;
}
